*{
    box-sizing: border-box;
    
    
}

body{
    background-color: rgb(0,0,0,1);
    
}

.cont{
    display: flex;
    position: absolute;
    left: 30%;
    font-size: 12px;
    justify-content: center;
    
}

.cont a{
    margin-top: 10px;
    margin-left: 40px;
    color:#bfbfbf;
    text-decoration: none;
    font-family: sans-serif;
    display: flex;
    align-self: center;
    justify-content: center;
}
.cont .logo{
  width: 20px;

   

}

.cont a:hover{
    text-shadow:0px 0px 1px rgb(255, 255, 255) ;
}







.cont2 a {
    color:#fcfcfc;
    position: relative;
    top:80px;    
    left:60%;
    margin-right: 5px;
    text-decoration: none;
    font-size: 12px;
    font-family: sans-serif;
}

.cont2 a:hover{
    color:#06c
}

.cont2 .hr{
    width: 50%;
    position: absolute;
    left: 540px;
    bottom:86% ;
    border: 1px rgb(61,61,61,1) solid;
  

}

.cont2 .mod{
    color:#7b7b7b;
    position: absolute;
    top:63px;
    left:550px;
    font-size: 12px;
    font-family: sans-serif
}

.cont2 .pro{
    color:#eaeaea;
    position: absolute;
    top:70px;
    left:550px;
    font-size: 20px;
    font-family:sans-serif
}
.cont2 .buy{
    cursor: pointer;
    display: inline-block;
    text-align: center;
    background: #0071e3;
    color: #fff;
    border-radius: 980px;
    font-size: 12px;
    font-weight: 400;
    font-family: sans-serif;
    min-width: 23px;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 4px;
    padding-bottom: 4px;

}

.cont2 .buy:hover{
    color:white
}

.lap{
margin-left: 230px;
margin-top: 20px;
}

h2{
    color:white;
    text-align: center;
    font-family: sans-serif;
    font-size: 80px;
    font-weight: bold ;
    width: 40%;
    margin-left: 30%;
   
}

.second{
    color:#6b6b6b;
    font-size: 20px;
    font-family: sans-serif;
    width: 750px;
    margin-left: 30%;
    position: absolute;
   bottom:-400px;
   
   
}

.back{
    position: absolute;
    left:400px;
    top: 1550px
}

.m2{
   
    position: relative;
    left: 500px;
    top:300px;
}

.sup{
    color:white;
    font-size:80px;
    font-family: sans-serif;
    position: relative;
    left:650px;
    top:180px;
    width: 350px;
}